# latex, latexmk and auctex temporary files
*.toc
*.synctex.gz
*.log
*.aux
*.dvi
*.fdb_latexmk
*.out

# Tempfiles
*.swp
*~
.~*
Server/.gradle/*
Server/prodDb*.db
.vagrant/*

# visual paradigm temporary files
*.vpp~*

# intellij project files
*.ipr
*.iws

# Eclispe files
.metadata/
.recommenders/
.project
.classpath
.settings

# Intellij files
.idea/
*.iml

# java Classes
*.class
*.jar

# Grails
target/
target-eclipse/
reports/
logs/
Server*.war
plugins/
Server/web-app/WEB-INF/

# documentation directroy
/doc
