# latex and latexmk temporay files
*.toc
*.synctex.gz
*.log
*.aux
*.dvi
*.fdb_latexmk
*.out

# Tempflies
*.swp

# visual paradigm temporary files
*.vpp~*

# Eclispe files
.metadata/
.classpath
.project

# java Classes
*.class
