# latex, latexmk and auctex temporary files
*.toc
*.synctex.gz
*.log
*.aux
*.dvi
*.fdb_latexmk
*.out

# Tempfiles
*.swp

# visual paradigm temporary files
*.vpp~*

# Eclispe files
.metadata/
.recommenders/
.project
.classpath
.settings

# java Classes
*.class
*.jar

# Grails
target/
target-eclipse/
reports/
logs/
*.war
plugins/
Server/web-app/WEB-INF/

