@font-face {
	font-family: 'Arvo';
		  font-style: normal;
		  font-weight: 400;
		  src: local('Arvo'), url(/assets/googlefonts/Arvo.woff2) format('woff2'), url(/assets/googlefonts/Arvo.woff) format('woff');
}

body {
    color: #444;
    font: 14px/1.7em "Open Sans",sans-serif;
}

#wrapper{
	min-width:320px;
}
h1 {
	margin: 0; /*TODO TEMP*/
	text-transform: uppercase;
	font-family: Arvo;
	font-size: 21px;
	font-style: normal;
	font-weight: bold;
	line-height: 26.4px;
}

h1.logofont{
	font-size: 20px;
	color: #000000;
}

h2, h3, h4 {
	margin: 0.25em;
}

input[type="text"], input[type="password"], input[type="tel"],
input[type="email"], input[type="search"], select {
	padding: 5px;
	background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    box-sizing: border-box;
}
input[type="submit"], a.button, button {
	padding: 5px 10px;
	background-color: #cddc39;
	box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2);
    border: 0 none;
    border-radius: 3px;
    color: #222222;
    box-sizing: border-box;
	text-decoration: none;
	cursor: pointer;
}

input[type="submit"]:hover, a.button:hover, button:hover,
input[type="submit"]:focus, a.button:focus, button:focus {
	text-decoration: none;
	background-color: #C4CE37;
	box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
}


a {
	color: #8e217d;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
}
figure {
	margin: 0;
}

.clear {
	clear: both;
}



table.list  {
	margin: 10px;
	padding: 0px;
	width: 100%;
	height: 100%;
	box-shadow: 0 1px 2px #aaa;
	border-spacing: 0;
	text-align: left;
}

table.list thead tr {
	background-color: #8e217d;
	color: #ffffff;
}

table.list thead th {
	padding: 6px;
}

table.list tbody tr:nth-child(odd) {
	background-color: #f2f2f2;
}

table.list tbody tr:nth-child(even) {
	background-color: #ffffff;
}

table.list td {
	vertical-align: middle;
	/*border-width: 0px 1px 1px 0px;*/
	padding: 7px 14px;
	font-weight: normal;
}

table.list td.numeration{
	width: 20px;
	text-align: right;
}

table.list td.admin{
	line-height: 250%;
}

.floater table.list {
	margin: 0px;
}

.card {
	background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 1px 2px #aaa;
    margin: 20px 0;
}
.card > * {
	border-top: 1px solid #F2F2F2;
}
.card > *:first-child {
	border-top: 0 none;
}
.card h3 {
	padding: 10px 20px;
	margin: 0;
}
.card .content {
	padding: 10px 20px;
}
.card .content.rightalign {
	text-align: right;
}
.card .content.centeralign {
	text-align: center;
}
.card table.list {
	width: 100%;
	margin: 0;
	box-shadow: 0 0 0 transparent;
}
.card table.list td:first-child {
	padding-left: 20px;
}
.card table.list td:last-child {
	padding-right: 20px;
}
.card ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.card ul li {
    border-top: 1px solid #f5f5f5;
    padding: 5px 20px;
}
.card ul li:first-child {
	border-top: 0 none;
}

.paginate {
	margin: 1em auto;
	text-align: center;
}
.paginate .prevLink,
.paginate .nextLink,
.paginate .step,
.paginate .currentStep {
	border: 1px solid;
    border-radius: 3px;
    display: inline-block;
    margin: 3px 5px;
    padding: 1px 5px;
    text-align: center;
    min-width: 1.5em;
}
.paginate .prevLink:hover,
.paginate .nextLink:hover,
.paginate .step:hover,
.paginate .prevLink:focus,
.paginate .nextLink:focus,
.paginate .step:focus,
.paginate .currentStep {
	background-color: #8e217d;
    color: #fff;
    text-decoration: none;
}