body {
    color: #444;
    font: 14px/1.7em "Open Sans",sans-serif;
}

h1 {
	margin: 0; /*TODO TEMP*/
}

input[type="text"], input[type="password"], input[type="tel"],
input[type="email"], input[type="search"], select {
	padding: 5px;
	background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    box-sizing: border-box;
}
input[type="submit"], a.button, button {
	padding: 5px 10px;
	background-color: #cddc39;
	box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
    border: 0 none;
    border-radius: 3px;
    color: #222222;
    box-sizing: border-box;
	text-decoration: none;
	cursor: default;
}

input[type="submit"], a.button:hover, a.button:focus {
	text-decoration: none;
}

a {
	color: #8e217d;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
}
figure {
	margin: 0;
}

.clear {
	clear: both;
}



table.list  {
	margin: 10px;
	padding: 0px;
	width: 100%;
	height: 100%;
	box-shadow: 0 1px 2px #aaa;
	border-spacing: 0;
	text-align: left;
}

table.list thead tr {
	background-color: #8e217d;
	color: #ffffff;
}

table.list thead th {
	padding: 6px;
}

table.list tbody tr:nth-child(odd) {
	background-color: #f2f2f2;
}

table.list tbody tr:nth-child(even) {
	background-color: #ffffff;
}

table.list td {
	vertical-align: middle;
	/*border-width: 0px 1px 1px 0px;*/
	padding: 7px 14px;
	font-weight: normal;
	color: #000000;
}

table.list td.numeration{
	width: 20px;
	text-align: right;
}

table.list td.admin{
	line-height: 250%;
}



.card {
	background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 1px 2px #aaa;
    margin: 20px 0;
}
.card > * {
	border-top: 1px solid #F2F2F2;
}
.card > *:first-child {
	border-top: 0 none;
}
.card h3 {
	padding: 10px 20px;
	margin: 0;
}
.card table.list {
	width: 100%;
	margin: 0;
	box-shadow: 0 0 0 transparent;
}
.card table.list td:first-child {
	padding-left: 20px;
}
.card table.list td:last-child {
	padding-right: 20px;
}
.card .content {
	padding: 10px 20px;
}
.card .content.rightalign {
	text-align: right;
}