#top {
	width: 100%;
}
#leftside {
	float: left;
	width: 47.5%;
	padding-right: 2.5%;
	padding-top: 10px;
}
#rightside {
	width: 47.5%;
	padding-left: 2.5%;
	margin-left: 50%;
	padding-top: 10px;
}
a.tooltipLeft {
  position: relative;
  display: inline;
  font-size: 18px;
}
a.tooltipLeft span {
  position: absolute;
  width:140px;
  color: #000000;
  background: #CDDC39;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 11px;
  visibility: hidden;
  border-radius: 6px;
}
a.tooltipLeft span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-left: 8px solid #CDDC39;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
a:hover.tooltipLeft span {
  visibility: visible;
  opacity: 0.8;
  right: 100%;
  top: 50%;
  margin-top: -15px;
  margin-right: 15px;
  z-index: 999;
}

a.tooltipRight {
  position: relative;
  display: inline;
  font-size: 18px;
}
a.tooltipRight span {
  position: absolute;
  width:140px;
  color: #000000;
  background: #CDDC39;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 11px;
  visibility: hidden;
  border-radius: 6px;
}
a.tooltipRight span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #CDDC39;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
a:hover.tooltipRight span {
  visibility: visible;
  opacity: 0.8;
  left: 100%;
  top: 50%;
  margin-top: -15px;
  margin-left: 15px;
  z-index: 999;
}

