@CHARSET "UTF-8";

html {
	height:100%;
}

body {
    width: 100%;
	height:100%;
    min-width: 320px;
    padding: 0;
    margin: 0;
    background-color: #8e217d
}
#wrapper {
	overflow: hidden;
}

header {
	height: 158px;
	position: relative;
    z-index: 1;
	background-color: #FFFFFF;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
}
header .inside {
	max-width: 960px;
	margin: 0 auto;
    position: relative;
}
header .inside .logo {
	width: 220px;
	float: left;
	text-align: center;
	padding: 21px 0px 25px 25px;
}
header .inside .logo img {
	display: block;
    height: 92px;
    width: auto;
    padding: 4px;
}
header .inside .headerbackground {
	float: left;
	height: 135px;
	width: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position:absolute;
	z-index:-1;
}
header .inside .headerbackground >img {
	width: 100%;
	margin-top:-23px;
}
header h1 {
	padding-top: 11px;
}
header .inside #userinfo {
	width: 300px;
	padding: 30px 186px;
    position: absolute;
    right: 0;
}
header .inside #userinfo .profile{
	float:left;
}
header .inside #userinfo .profile .avatar {
	display: block;
	height: 50px;
	width: 50px;
	overflow: hidden;
	border-radius: 50px;
	background-color: #FFFFFF;
	border-style: solid;
	border-color: #d0d840;
	margin-right: 15px;
}
header .inside #userinfo .profile .avatar img {
	display: block;
	height: 50px;
	width: 50px;
	object-fit: cover;
}
header .inside #userinfo .actions {
	padding-top: 10px;
	padding-right: 10px;
}
header .inside #userinfo .actions .stats {
	float: left;
	margin-top: 13px;
}
header .inside #userinfo .actions .stats a {
	display: inline-block;
	width: 50px;
	margin-right: 10px;
	margin-top: 1px;
	color:inherit;
}
header .inside #userinfo .actions .stats a:hover {
	text-decoration: none;
}

header .inside #userinfo .actions .stats a i.fa {
	font-size: 32px;
}
#logoutFrom{
	margin: 8px;
}

#logoutFrom > input[type="submit"] {
	color: #FFFFFF;
}

#userinfo > div.actions > div > a.inbox > i {
	color: rgb(210, 222, 36);
}

#userinfo > div.actions > div > a.inbox > div {
	width: 22px;
	height: 22px;
	background-color: #8e217d;
	border-radius: 50%;
	text-align: center;
	margin: -13px 23px;
	position: relative;
}

#userinfo > div.actions > div > a.points > i {
	color: rgb(210, 222, 36);
}

#userinfo > div.actions > div > a.points > div {
	width: 22px;
	height: 22px;
	background-color: #8e217d;
	border-radius: 50%;
	text-align: center;
	margin: -13px 23px;
	position: relative;
}
#userinfo > div.actions > div > a.points > div:nth-child(2){
	margin: -17px 17px;
}

#container {
	background-color: #F2F2F2;
	overflow: hidden;
}
#container .inside {
	max-width: 960px;
	margin: 0 auto;
}
#container nav {
	float: left;
	width: 218px;
	background-color: #eeeeee;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
	padding-bottom: 20040px;
	margin-bottom: -20000px;
}
#container nav.fixed {
	position: fixed;
	top: 0;
}
#container nav #search {
    position: relative;
    padding: 10px 15px 10px 15px;
    background-color: #E2E2E2;
	border-bottom: 1px solid #cccccc;
}
#container nav #search input[type="search"] {
    width: 100%;
}
#container nav #search button {
	position: absolute;
	right: 20px;
	top: 14px;
	margin: 0;
    padding: 0;
	background-color: transparent;
	box-shadow: none;
    border: 0 none;
    color: #cccccc;
    font-size: 16px;
}
#container nav ul {
	list-style-type: none;
    margin: 0;
	padding: 0;
}
#container nav ul li {
	display: block;
}
#container nav ul li a {
	display: block;
	padding: 10px 5px 10px 20px;
	border-bottom: 1px solid #E2E2E2;
    color: inherit;
}
#container nav ul li a i.fa {
	position: relative;
	top: 1px;
	left: -5px;
	font-size: 20px;
}
#container nav ul li a:hover,
#container nav ul li a:focus {
	border-bottom: 1px solid #631757;
    background-color: #8E217D;
    color: #FFFFFF;
    text-decoration: none;
}
#container nav h3 {
	margin: 30px 0 0;
	padding: 10px 20px;
	background-color: #E2E2E2;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

#container #content {
	position: relative;
	background-color: #ffffff;
    border-right: 1px solid #DDDDDD;
    margin-left: 220px;
    padding: 40px 60px 20040px;
    margin-bottom: -20000px;
    min-height: 500px;
}
#container #content .floater {
	float: left;
	width: 100%;
}
#container #content .flashmessage {
	position: absolute;
	left: 0;
	top: 10px;
	width: 60%;
	margin: 0 20%;
	text-align: center;
	background-color: white;
	border: 1px solid limegreen;
}
#container #content .flasherror {
	position: absolute;
	left: 0;
	top: 10px;
	width: 60%;
	margin: 0 20%;
	text-align: center;
	background-color: white;
	border: 1px solid red;
}

footer {
	position: relative;
	z-index: 10;
	background-color: #8e217d;
	color: #FFFFFF;
	text-align: center;
	padding-bottom: 1000px;
	margin-bottom: -1000px;
	height:40px;
}
footer .inside {
	max-width: 960px;
	margin: 0 auto;
	padding: 6px 0;
}
footer a {
	color: #FFFFFF;
}

@media screen and (max-width: 800px) {
	h1.logofont{
		font-size:12px;
		position: absolute;
		margin-left: 175px;
	}
	header .inside #userinfo {
    	padding: 70px 95px;
    }
}
@media screen and (max-width: 735px) {
	h1.logofont {
		font-size: 16px;
		text-align: center;
		width: 100%;
		margin: 30px 62px;
	}
}
@media screen and (max-width: 600px) {
	#container nav {
		width: 28px;
	}
	#container nav ul li a {
		padding: 5px 4px 4px 6px;
	}
	#container nav ,#container nav ul{
		padding-bottom: 400px;
		margin-bottom: 0px;
	}
	#container nav ul li{
		height:32px;
		overflow:hidden;
	}
	#container #content {
		margin-left: 30px;
		padding: 19px 15px 0px 19px;
	}
	#container nav #search {
		padding: 4px 16px 13px 28px;
	}
	header .inside .logo {
		width: 20px;
		padding: 0px;
	}
	h1.logofont{
		font-size: 16px;
		text-align: center;
		width: 100%;
		margin: 27px 49px;
	}
	header .inside #userinfo {
    	padding: 70px 0px;
    }
	#container .inside {
		overflow:auto;
	}
}
@media screen and (max-width: 490px) {
	#container #content {
	padding: 9px 5px 0px 8px;
	}
	header .inside #userinfo {
		padding: 83px 0px;
	}
}
@media screen and (max-width: 360px) {
	header .inside .logo img {
		height: 72px;
	}
}
