@CHARSET "UTF-8";


html {	
}

body {
    width: 100%;
    min-width: 960px;
    padding: 0;
    margin: 0;
    background-color: #8e217d
}

header {
	height: 100px;
	position: relative;
    z-index: 1;
	background-color: #8e217d;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
}
header .inside {
	width: 960px;
	margin: 0 auto;
    position: relative;
}
header .inside #userinfo {
	height: 80px;
	width: 240px;
	padding: 10px 0;
    position: absolute;
    right: 0;
    top: 0;
}
header .inside #userinfo .profile .avatar {
	display: block;
	height: 40px;
	width: 40px;
	float: left;
	overflow: hidden;
	border-radius: 5px;
	background-color: #FFFFFF;
}
header .inside #userinfo .profile .avatar img {
	display: block;
	height: 40px;
}
header .inside #userinfo .profile .name {
	margin-left: 60px;
	line-height: 40px;
}
header .inside #userinfo .profile .name a {
	color: inherit;
}
header .inside #userinfo .actions {
	clear: both;
	padding-top: 10px;
}
header .inside #userinfo .actions .stats {
	width: 140px;
	float: left;
}
header .inside #userinfo .actions .stats a {
	display: inline-block;
	width: 50px;
	margin-right: 20px;
	margin-top: 1px;
	color:inherit;
}
header .inside #userinfo .actions .stats a:hover {
	text-decoration: none;
}
header .inside #userinfo .actions .stats a i.fa {
	font-size: 25px;
}
header .inside #userinfo .actions #logoutFrom {
	text-align: right;
}

#container {
	background-color: #F2F2F2;
	overflow: hidden;
}
#container .inside {
	width: 960px;
	margin: 0 auto;
}
#container nav {
	float: left;
	width: 190px;
	background-color: #eeeeee;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    padding-bottom: 20040px;
    margin-bottom: -20000px;
}
#container nav.fixed {
	position: fixed;
	top: 0;
}
#container nav #search {
    position: relative;
    padding: 10px 15px;
    background-color: #E2E2E2;
	border-bottom: 1px solid #cccccc;
}
#container nav #search input[type="search"] {
    width: 100%;
}
#container nav #search button {
	position: absolute;
	right: 20px;
	margin: 0;
    padding: 4px 0;
	background-color: transparent;
	box-shadow: none;
    border: 0 none;
    color: #cccccc;
    font-size: 16px;
}
#container nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}
#container nav ul li {
	display: block;
}
#container nav ul li a {
	display: block;
	padding: 10px 20px;
	border-bottom: 1px solid #E2E2E2;
    color: inherit;
}
#container nav ul li a:hover,
#container nav ul li a:focus {
	border-bottom: 1px solid #631757;
    background-color: #8E217D;
    color: #FFFFFF;
    text-decoration: none;
}
#container nav h3 {
	margin: 30px 0 0;
	padding: 10px 20px;
	background-color: #E2E2E2;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
#container #content {
	position: relative;
	background-color: #ffffff;
    border-right: 1px solid #DDDDDD;
    margin-left: 192px;
    padding: 40px 60px 20040px;
    margin-bottom: -20000px;
}
#container #content .floater {
	float: left;
	width: 100%;
}
#container #content .flashmessage {
	position: absolute;
	left: 0;
	top: 10px;
	width: 60%;
	margin: 0 20%;
	text-align: center;
	/* TODO Temp */
	background-color: white;
	border: 1px solid red;
}

footer {
    position: relative;
    z-index: 10;
    height: 50px;
    background-color: #8e217d;
    color: #FFFFFF;
}
footer .inside {
	width: 960px;
	margin: 0 auto;
}
footer a {
	color: inherit;
}