@CHARSET "UTF-8";

.addproposal {
    margin: 20px 40px;
    padding: 20px;
    border: 1px solid #cccccc;
    background-color: #eeeeee;
}
.addproposal .proposaltext {
	padding: 0 0 10px;
}
.addproposal .proposaltext input {
	width: 100%;
}
.addproposal .proposalpoints {
	float: left;
}
.addproposal .proposalsubmit {
	float: right;
}
@media (max-width: 840px) {
	.addproposal {
		margin: 20px 0;
	}
}
@media (max-width: 760px) and (min-width: 600px) {
	.addproposal .proposalpoints {
		float: none;
		padding-bottom: 10px;
	}
	.addproposal .proposalsubmit {
		float: none;
	}
}
@media (max-width: 460px)  {
	.addproposal .proposalpoints {
		float: none;
		padding-bottom: 10px;
	}
	.addproposal .proposalsubmit {
		float: none;
	}
}


.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: "\f005";
    font-family: FontAwesome;
}

.rating > input:checked ~ label {
	content: "\f005";
	font-family: FontAwesome;
    color: gold;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}