@CHARSET "UTF-8";


html {	
}

body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

header {
	height: 250px;
    background: url("header.png") right top no-repeat transparent;
}

header #logo {
	display: block;
	float: left;
}
header #logo img {
	display: block;
    height: 200px;
    padding: 40px 0 0;
    width: auto;
}
header h1 {
    color: #000000;
    font-size: 3em;
    font-weight: bold;
    line-height: 1.3em;
    margin: 0 0 0 250px;
    padding: 30px 0;
}

#content {
	padding: 40px 0;
}

#content .flasherror {
	position: absolute;
	left: 0;
	top: 10px;
	width: 60%;
	margin: 0 20%;
	text-align: center;
	background-color: white;
	border: 1px solid red;
}

#content #center {
	margin: 0 auto;
	max-width: 540px;
}

#content #right {
	float: right;
	width: 320px;
	margin-top: 30px;
}
#content #left {
	margin-right: 360px;
}

#content #login {
	background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    width: 298px;
    margin: 10px auto;
}
#content #login table {
	width: 100%;
	padding-bottom: 5px;
}
#content #login table td.left {
	width: 35%;
}
#content #login table td.right {
	width: 65%;
}
#content #login table td.right input {
	width: 100%;
	margin-bottom: 5px;
}
#content #login table td.both {
	text-align: right;
}
#content #login #signInForm input[type="submit"] {
	float: right;
	margin-right: 5px;
}

#content #register input[type="submit"] {
	display: block;
	font-size: 1.5em;
    font-weight: bold;
    margin: 10px auto;
    padding: 5px 0;
    width: 320px;
}

#content #countdown {
	background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    width: 298px;
    margin: 10px auto;
    text-align: center;
}
#content #countdown p {
	font-size: 1.2em;
    font-weight: bold;
    color: #333;
    text-align: center;
}
#content #countdown .entity {
	display: inline-block;
	margin: 5px;
    width: 60px;
}
#content #countdown .entity .value {
	background-color: #ffffff;
	color: #333;
    border: 1px solid #eee;
    border-radius: 5px;
    display: block;
    font-size: 2.5em;
    line-height: 50px;
    font-weight: bold;
    padding: 0;
    text-align: center;
}

#content #registerform table {
	width: 100%;
}
#content #registerform table input,
#content #registerform table select {
	width: 100%;
}
#content #registerform #rules {
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	height: 20em;
	overflow-y: scroll;
	padding: 10px;
	margin: 10px 0 20px;
}
#content #registerform #rules p {
	margin: 0 0 0.5em;
}
#content #registerform #rules ol {
	list-style-type: none;
    margin: 0 0 0.5em 2em;
    padding: 0;
}
#content #registerform input[type="submit"] {
	float: right;
}

footer {
	clear: both;
    padding: 120px 60px 10px;
    height: 20px;
    background-image: url("footer_right.png"); /*Old Browsers*/
    background-image: url("footer_left.png"), url("footer_center.png"), url("footer_right.png");
    background-position: right bottom; /*Old Browsers*/
    background-position: 10% center, 66% center, right bottom;
    background-repeat: no-repeat;
}


@media screen and (max-width: 960px) {
	#wrapper {
		width: 100%;
	}
	header {
		background-size: 780px auto;
		height: 200px;
	}
	header #logo img {
	    padding: 40px 0 0 10px;
	    width: 160px;
	    height: auto;
	}
	header h1 {
		font-size: 2.5em;
	}
	#content {
    	padding: 20px 10px;
	}
	footer {
    	background-position: 5% top, 60% center, right bottom;
    	padding: 150px 200px 10px 20px;
	}
}

@media screen and (max-width: 900px) {
	header {
		background-size: 700px auto;
	}
}
@media screen and (max-width: 820px) {
	header {
		background-size: 600px auto;
		height: 160px;
	}
	header #logo img {
		padding-top: 30px;
	}
	header h1 {
		padding: 20px 0;
	}
}
@media screen and (max-width: 760px) {
	header h1 {
		margin-left: 200px;
	}
}
@media screen and (max-width: 720px) {
	header {
		background-size: 560px auto;
	}
}
@media screen and (max-width: 680px) {
	header {
		background-size: 500px auto;
		height: 140px;
	}
	header h1 {
		font-size: 2em;
	}
	header #logo img {
		padding-top: 10px;
	}
	footer {
    	background-size: 250px auto, 180px auto, auto auto;
    	padding: 100px 200px 10px 20px;
	}
}
@media screen and (max-width: 640px) {
	header {
		background-size: 400px 120px;
	}
	header h1 {
		text-align: right;
		padding-right: 50px;
		margin-left: 0;
	}
	#content #right {
		margin: 0 auto;
		float: none;
	}
	#content #left {
		margin-right: 0;
	}
}
@media screen and (max-width: 560px) {
	header {
		background-size: 350px 120px;
	}
	header h1 {
		font-size: 1.5em;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	footer {
		background-image: url("footer_left.png"), url("footer_right.png");
		background-position: 10% top, right bottom;
	}
}
@media screen and (max-width: 500px) {
	header {
		background-size: 300px 120px;
	}
	header h1 {
		padding-right: 40px;
	}
}
@media screen and (max-width: 460px) {
	header {
		background-size: 250px 120px;
	}
	header #logo img {
		width: 140px;
	}
	header h1 {
		font-size: 1.25em;
		padding-right: 30px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	footer {
		background-position: left top, right bottom;
		padding: 80px 200px 10px 20px;
		height: 40px;
	}
}
@media screen and (max-width: 400px) {
	header {
		background-size: 190px 120px;
	}
	header h1 {
		margin-left: 160px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 40px;
	}
	footer {
		height: 60px;
	}
}

