@CHARSET "UTF-8";


html {	
}

body {
    width: 100%;
    min-width: 960px;
    padding: 0;
    margin: 0;
    background-color: #8e217d
}

header {
	height: 200px;
	position: relative;
    z-index: 1;
	background-color: #8e217d;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
}
header .inside {
	width: 960px;
	margin: 0px auto;
	padding: 30px 0;
    position: relative;
}

#container {
	background-color: #FFFFFF;
}
#container .inside {
	width: 880px;
	margin: 0 auto;
	padding: 20px 40px;
}

#right {
	float: right;
	width: 320px;
	margin-top: 30px;
}
#login {
	background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    width: 298px;
    margin: 10px 0;
}
#login table {
	width: 100%;
	padding-bottom: 5px;
}
#login table td.left {
	width: 35%;
}
#login table td.right {
	width: 65%;
}
#login table td.right input {
	width: 100%;
	margin-bottom: 5px;
}
#login table td.both {
	text-align: right;
}
#login #signInForm input[type="submit"] {
	float: right;
	margin-right: 5px;
}

#register input[type="submit"] {
	font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px 0;
    width: 320px;
}
#left {
	margin-right: 360px;
	text-align: justify;
}

footer {
	height: 50px;
	background-color: #8e217d;
    color: #FFFFFF;
}
footer .inside {
	width: 960px;
	margin: 0 auto;
}

footer a {
	color: white;
}