@CHARSET "UTF-8";


html {	
}

body {
    width: 100%;
    min-width: 960px;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

header {
	height: 200px;
	background-color: #FFFFFF;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
}
header .inside {
	width: 960px;
	margin: 0px auto;
}
header .logo {
	display: block;
	float: left;
}
header .logo img {
	display: block;
	height: 160px;
	width: auto;
	padding: 20px 10px;
}
header h1 {
	font-size: 3em;
    margin-left: 200px;
    padding: 120px 0;
}

#container {
	background-color: #FFFFFF;
}
#container .inside {
	width: 920px;
	margin: 0 auto;
	padding: 20px 40px;
}

#right {
	float: right;
	width: 320px;
	margin-top: 30px;
}

#login {
	background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    width: 298px;
    margin: 10px 0;
}
#login table {
	width: 100%;
	padding-bottom: 5px;
}
#login table td.left {
	width: 35%;
}
#login table td.right {
	width: 65%;
}
#login table td.right input {
	width: 100%;
	margin-bottom: 5px;
}
#login table td.both {
	text-align: right;
}
#login #signInForm input[type="submit"] {
	float: right;
	margin-right: 5px;
}

#register input[type="submit"] {
	font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px 0;
    width: 320px;
}

#countdown {
	background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    width: 298px;
    margin: 10px 0;
    text-align: center;
}
#countdown p {
	font-size: 1.2em;
    font-weight: bold;
    color: #333;
    text-align: center;
}
#countdown .entity {
	display: inline-block;
	margin: 5px;
    width: 60px;
}
#countdown .entity .value {
	background-color: #ffffff;
	color: #333;
    border: 1px solid #eee;
    border-radius: 5px;
    display: block;
    font-size: 2.5em;
    line-height: 50px;
    font-weight: bold;
    padding: 0;
    text-align: center;
}
}

#left {
	margin-right: 360px;
	text-align: justify;
}

footer {
	height: 50px;
	background-color: #FFFFFF;
    color: #000000;
}
footer .inside {
	width: 960px;
	margin: 0 auto;
}

footer a {
	color: #8e217d;
}

#container #content {
	position: relative;
}

#container #content .flasherror {
	position: absolute;
	left: 0;
	top: 10px;
	width: 60%;
	margin: 0 20%;
	text-align: center;
	background-color: white;
	border: 1px solid red;
}