@CHARSET "UTF-8";

/*TODO gleiche Styles aus public.css und main.css vereinen */

html {	
}

body {
    width: 100%;
    min-width: 960px;
    padding: 0;
    margin: 0;
    background-color: #8e217d
}

header {
	height: 200px;
	position: relative;
    z-index: 1;
	background-color: #8e217d;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
}
header .inside {
	width: 960px;
	margin: 30px auto; /* Abstand zum oberen Rand */
    position: relative;
}

#container {
	background-color: #FFFFFF;
}
#container .inside {
	width: 880px;
	margin: 0 auto;
	padding: 20px 40px;
}

#left {
	float: right;
	width: 320px;
}
#login {
	background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    width: 298px;
    margin: 10px 0;
}
#register input[type="submit"] {
	font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px 0;
    width: 320px;
}

footer {
	height: 50px;
	background-color: #8e217d;
    color: #FFFFFF;
}
footer .inside {
	width: 960px;
	margin: 0 auto;
}

footer a {
	color: white;
}